
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Poppins,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
  font-family: "Poppins";
  src: url('../public/assets/fonts/poppins.woff');
  font-weight: normal;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.detail-course ul {
 margin-left: 38px;
}

.detail-course ol {
  margin-left: 38px;
 }

.detail-course h2 {
  font-size: 24px;
}

#description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  width: 100%;
  max-height: 72px;
}

#description ol > ul > li a {
  margin-left: 10px;
 }
 
/* :focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  background-color: transparent !important;
} */